<div class="wrapper">
    <h1 *ngIf="!isUpdateActive">Add Corporate</h1>
    <h1 *ngIf="isUpdateActive">Edit Corporate</h1>
    <div>
    <form [formGroup]="corporateForm">
        <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="fullname" matInput type="text" placeholder="Name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="text" placeholder="Email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input formControlName="address" matInput type="text" placeholder="Address" />
        </mat-form-field>
        <mat-form-field appearance="outline">
        <mat-label>Contact Number</mat-label>
        <input formControlName="contactNo" matInput type="text" placeholder="Contact Number" />
        </mat-form-field>
        <mat-form-field appearance="outline">
        <mat-label>Company Levels</mat-label>
        <input formControlName="userGroupLevels" matInput type="number" placeholder="Company Levels" (change)="createLevelInputs()" />
        </mat-form-field>
        <ng-container formArrayName="userGroupNames">
            <ng-container *ngFor="let levelsForm of levels.controls; let index = index">
            <div [formGroupName]="index">   
                <mat-form-field appearance="outline">
                <mat-label>Company Level Name</mat-label>
                <input formControlName="name" matInput type="text" placeholder="Company Level" />
                </mat-form-field> 
            </div>
            </ng-container>
        </ng-container>
    </form>
    </div>
    <div class="btn-parent">
    <button mat-raised-button color="warn" (click)="closeCorporate()">Close</button>
    <button *ngIf="!isUpdateActive" style="margin-left: 8px" (click)="addCorporate()" mat-raised-button color="primary">
        Save
    </button>    
    <button *ngIf="isUpdateActive" style="margin-left: 8px" (click)="updateCorporate()" mat-raised-button color="primary">
        Update
    </button>
    </div>
</div>