<table class="table table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Contact</th>
      <th>User Group Names</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let corporate of corporateData?.data">
      <td>{{ corporate.corporateName }}</td>
      <td>{{ corporate.corporateEmail }}</td>
      <td>{{ corporate.corporateAddress }}</td>
      <td>{{ corporate.corporateContact }}</td>
      <td>{{ corporate.corporateUserGroupNames }}</td>
    </tr>
  </tbody>
</table>

<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
