<div class="wrapper">
    <h1>{{message}}</h1>
    <div>
    <form [formGroup]="corporateUserForm">
        <mat-form-field appearance="outline">
        <mat-label>Corporate User Group ID</mat-label>
          <mat-select formControlName="corporateUserGroupID" name="select">
          <mat-option *ngFor="let select of corporateUserGroupIDArrays" [value]="select.corporateUserGroupID">
            {{select.corporateUserGroupName}}
          </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput type="text" placeholder="Name" />
        </mat-form-field>
        <mat-form-field appearance="outline">
        <mat-label>Contact Number</mat-label>
        <input formControlName="contactNo" matInput type="text" placeholder="Contact Number" />
        </mat-form-field>
        <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="text" placeholder="Email" />
        </mat-form-field>
    </form>
    </div>
    <div class="btn-parent">
    <button mat-raised-button color="warn" (click)="closeCorporateUser()">Close</button> 
    <button *ngIf="!isUpdateActive" style="margin-left: 8px" (click)="addCorporateUser()" mat-raised-button color="primary">
      Save
    </button>    
    <button *ngIf="isUpdateActive" style="margin-left: 8px" (click)="updateCorporateUser()" mat-raised-button color="primary">
      Update
    </button>
    </div>
</div>