<div class="container">
  <div style="margin-top: 10px;">
    <mat-form-field appearance="standard">
      <mat-label>Search whole Table</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- Order ID Column -->
        <ng-container matColumnDef="orderID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Order ID </th>
          <td mat-cell *matCellDef="let row"> {{row.orderID}} </td>
        </ng-container>

        <!-- Vendor ID Column -->
        <ng-container matColumnDef="vendorID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendor ID </th>
          <td mat-cell *matCellDef="let row"> {{row.vendorID}} </td>
        </ng-container>

        <!-- Invoice Amount Column -->
        <ng-container matColumnDef="invoiceAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Amount </th>
          <td mat-cell *matCellDef="let row"> {{row.invoiceAmount}} </td>
        </ng-container>
    
        <!-- Invoice Uploaded By Column -->
        <ng-container matColumnDef="invoiceUploadedby">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Uploaded By </th>
          <td mat-cell *matCellDef="let row"> {{row.invoiceUploadedby}} </td>
        </ng-container>
    
        <!-- Invoice Uploaded By Type Column -->
        <ng-container matColumnDef="invoiceUploadedbyType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Uploaded By Type </th>
          <td mat-cell *matCellDef="let row"> {{row.invoiceUploadedbyType}} </td>
        </ng-container>     
        
        <!-- Invoice Status Column -->
        <ng-container matColumnDef="invoiceStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Status </th>
          <td mat-cell *matCellDef="let row"> {{row.invoiceStatus}} </td>
        </ng-container>    

        <!-- Status Column -->
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let row"> {{row.Status}} </td>
        </ng-container>    


        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
          <td mat-cell *matCellDef="let row"> 
            <button 
            mat-raised-button 
            (click)="viewOrderDetails(row.orderID)" 
            color="primary">
              View Order Details
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
    
  </div>
</div>

