.message-box {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .empty-list {
    text-align: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 150px;
  }
  
  .modal-body {
    // min-height: 600px;
    overflow-y: auto;
  }
  
  .doc-container {
    margin: auto;
    margin-top: 20px;
    width: 100%;
    border: 1px solid #181816;
    /* box-shadow: 1px -5px 6px 0; */
    padding: 10px;
  }
  
  .btn-container {
    margin-left: 80%;
    margin-top: 10px;
  }
  
  .probtn {
    margin-left: 6px
  }
  
  .containernew {
    // width: 450px;
    // height: 200px;
    // padding: 2rem;
    border-radius: 4px;
    box-shadow: 1px -5px 24px 0 rgb(68 102 242 / 10%);
    border: dashed 1px #0d74bc;
    text-align: center;
    //  border:  1px #979797;
    position: relative;
    margin: 0 auto;
  
    input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  
    label {
      color: white;
      width: 183px;
      height: 44px;
      border-radius: 8.5px;
      //   background-color: #db202f;
      background-color: #007bff;
      padding: 8px 16px;
    }
  
    h3 {
      font-size: 18px;
      font-weight: 600;
      color: #38424c;
    }
  }
  
  .fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  
  .files-list {
    margin-top: 1.5rem;
  
    .single-file {
      display: flex;
      padding: 0.5rem;
      justify-content: space-between;
      align-items: center;
      border: dashed 1px #979797;
      margin-bottom: 1rem;
  
      .delete {
        display: flex;
        margin-left: 0.5rem;
        cursor: pointer;
        align-self: flex-end;
      }
  
  
      display: flex;
      flex-grow: 1;
  
      .name {
        font-size: 14px;
        font-weight: 500;
        color: #353f4a;
        margin: 0;
      }
  
      .size {
        font-size: 12px;
        font-weight: 500;
        color: #a4a4a4;
        margin: 0;
        margin-bottom: 0.25rem;
      }
  
      .info {
        width: 100%
      }
    }
  }
  
  .file-box {
    border: solid;
    /* display: flex; */
    padding: 2px;
    width: 90px;
    margin-left: 10px;
    text-align: center;
  }
  
  .btn-file {
    height: 90px;
  }
  .btn-file-delete{
    margin-left: 10px;
  }
  /* Shake animation */
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
  
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
  
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
  
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
  
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
  
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
  
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
  
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
  
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
  
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
  
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  
  // input[type='file'] {
  //   opacity: 0;
  //   cursor: pointer;
  //   width: 24px;
  //   height: 24px;
  //   font-size: 0;
  //   position: absolute;
  // }