.wrapper {
    background-color: white;
    padding: 20px;
  }
  mat-form-field {
    display: block;
    margin-bottom: 1rem;
  }
  .btn-parent > * {
    flex: 1 1 50%;
  }
  .btn-parent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  mat-form-field[readonly] {
    pointer-events: none !important;
  }
  
  mat-form-field[readonly] .mat-form-field-wrapper:hover,
  mat-form-field[readonly] .mat-form-field-wrapper:focus {
    background-color: transparent !important;
    border-color: transparent !important;
  }
  
  mat-form-field[readonly] .mat-form-field-infix {
    color: gray !important;
    border-bottom-style: none !important;
  }
  